# Copyright 2021 Stanislav Senotrusov <stan@senotrusov.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Application test, production build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install xvfb
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get update && sudo apt-get install -y xvfb

    - run: npm ci
    - run: npm run build-production --if-present

    - name: Run npm test on Ubuntu with X virtual framebuffer
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: DISPLAY=:42 xvfb-run --server-num 42 npm test

    - name: Run npm test on non-ubuntu OS
      if: ${{ matrix.os != 'ubuntu-latest' }}
      run: npm test
