name: CI test on Ubuntu

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci
    - run: npm run build --if-present

    - name: Run apt-get update
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get update

    - if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install -y xvfb

    - name: Run npm test on Ubuntu with X virtual framebuffer
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: DISPLAY=:42 xvfb-run --server-num 42 npm test

    - name: Run npm test on non-ubuntu OS
      if: ${{ matrix.os != 'ubuntu-latest' }}
      run: npm test
